/* Портфоліо повинне містити щонайменше один медіазапит
Висота вітальної секції повинна дорівнювати висоті вюпорту
Навігаційна панель завжди повинна знаходитись у верхній частині вюпорту */

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ede5e6;
}

body {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    background-color: #be3144;
}

nav {
    padding: 20px 0;
    float: right;
    margin-right: 25px;

}

nav > a {
    padding: 25px;
    font-size: 1.5rem;
}

nav > a:hover {
    background-color: #45567d;
}

p, h1, h2, h4 {
    color: #ede5e6;
}

#welcome-section {
    background-color: #2e3032;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 900px;
    margin-top: 50px;
}

h1 {
    margin: 50% 20%;
    
    font-size: 3.5em;
}

#welcome-section > h1 > span {
    display: block;
    color: #be2e32;
    font-size: 0.7em;
    font-style: italic;
    font-weight: lighter;
}
    

#projects {
    background-color: #45567d;
    text-align: center;
    padding: 10%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.header-project {
    padding: 70px 0 10px 0;
    font-size: 1.8em;
    margin-bottom: 50px;
}

.line {
    margin-top: 8px;
    border-bottom: 1px solid #ede5e6;
}


.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 25px;
}

.project-title {
    width: 400px;
    height: 450px;
    background-color: #303841;
   
}

img {
    width: 100%;
    height: 85%;
}

.project-title > a {
    font-size: 1.4em;
}


.project-title > a > span {
    color: orangered;
    opacity: 0;
    transition: all .2s;
}


a:hover > span {
    opacity: 1;
}



.btn {
    width: 150px;
    margin-top: 20px;
    background-color: #303841;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transition: 0.3s;
}


.btn:hover {
    background-color: #be3144;
    gap: 12px;
    opacity: 2;
   
}

.btn > a {
    font-size: 1.5em;
    padding: 5px 0;
}

.btn > p {
    font-size: 1.3em;
    font-weight: bold;
}


footer {
    background-color: #2e3032;
}


.footer-hero {
    text-align: center;
}

h4 {
    font-size: 3.5em;
    padding-top: 20%;
    
}
.footer-hero > p {
    font-size: 1.5em;
    font-style: italic;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    font-size: 1.8em;
    margin-top: 50px;
    padding-bottom: 20%;
    
}

.contact > a {
    -webkit-transition: all 0.5s ease-in-out;
}

.contact > a:hover {
    -webkit-transform: translate(0,10px); 
}

.red-line {
    border-bottom: 4px solid #be3144;

}

.detalis {
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20%;

}

@media only screen and (max-width: 900px) {
    .contact {
        gap: 30px;
    }

    .detalis {
        gap: 10%;
    }
}

@media only screen and (max-width: 815px) {
    .detalis {
        flex-direction: column;
        gap: 20px;
    }
}




     
